
.toggle-cb {
	display: none;
  }
  .toggle-label {
	position: relative;
  }
  .toggle-inner {
	content: url("https://res.cloudinary.com/dxdte19y4/image/upload/v1651548117/Fun-with-css/check_off.png");
  }
  .toggle-cb:checked + .toggle-label .toggle-inner {
	content: "";
	position: absolute;
  }
  .toggle-cb:checked  + .toggle-label .toggle-switch {
	content: url("https://res.cloudinary.com/dxdte19y4/image/upload/v1651548117/Fun-with-css/check_on.png");
	position: absolute;
  }
  